<%= form_for [@employe, @payroll] do |f| %>
  <% if @payroll.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payroll.errors.count, "error") %> prohibited this payroll from being saved:</h2>

      <ul>
      <% @payroll.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :advance_salary %><br />
    <%= f.text_field :advance_salary %>
  </div>
  <div class="field">
    <%= f.label :total_working_days %><br />
    <%= f.text_field :total_working_days %>
  </div>
  <div class="field">
    <%= f.label :working_days %><br />
    <%= f.text_field :working_days %>
  </div>
  <div class="field">
    <%= f.label :payroll_month_year %><br />
    <%= f.text_field :payroll_month_year %> (Mmm yyyy) format as of now
  </div>
  <div class="actions">
    <%= f.submit "Generate Payroll" %>
  </div>
<% end %>
