<p id="notice"><%= notice %></p>

<p>
  <b>Employe:</b>
  <%= @payroll.employe %>
</p>

<p>
  <b>Basic:</b>
  <%= @payroll.basic %>
</p>

<p>
  <b>Hra:</b>
  <%= @payroll.hra %>
</p>

<p>
  <b>Travel:</b>
  <%= @payroll.travel %>
</p>

<p>
  <b>Daily:</b>
  <%= @payroll.daily %>
</p>

<p>
  <b>Medical:</b>
  <%= @payroll.medical %>
</p>

<p>
  <b>Other:</b>
  <%= @payroll.other %>
</p>

<p>
  <b>Variable:</b>
  <%= @payroll.variable %>
</p>

<p>
  <b>Gross:</b>
  <%= @payroll.gross %>
</p>

<p>
  <b>Professional tax:</b>
  <%= @payroll.professional_tax %>
</p>

<p>
  <b>Pf:</b>
  <%= @payroll.pf %>
</p>

<p>
  <b>Esi:</b>
  <%= @payroll.esi %>
</p>

<p>
  <b>Tds:</b>
  <%= @payroll.tds %>
</p>

<p>
  <b>Advance salary:</b>
  <%= @payroll.advance_salary %>
</p>

<p>
  <b>Total deductions:</b>
  <%= @payroll.total_deductions %>
</p>

<p>
  <b>Net salary:</b>
  <%= @payroll.net_salary %>
</p>

<p>
  <b>Total working days:</b>
  <%= @payroll.total_working_days %>
</p>

<p>
  <b>Working days:</b>
  <%= @payroll.working_days %>
</p>

<p>
  <b>Payroll month:</b>
  <%= @payroll.payroll_month_year %>
</p>


<%= link_to 'Edit', edit_payroll_path(@payroll) %> |
<%= link_to 'Back', @employe %>
