<p id="notice"><%= notice %></p>

<p>
  <b>Employe:</b>
  <%= @salary.employe.name %>
</p>

<p>
  <b>Basic:</b>
  <%= @salary.basic %>
</p>

<p>
  <b>Hra:</b>
  <%= @salary.hra %>
</p>

<p>
  <b>Travel:</b>
  <%= @salary.travel %>
</p>

<p>
  <b>Daily:</b>
  <%= @salary.daily %>
</p>

<p>
  <b>Medical:</b>
  <%= @salary.medical %>
</p>

<p>
  <b>Other:</b>
  <%= @salary.other %>
</p>

<p>
  <b>Variable:</b>
  <%= @salary.variable %>
</p>

<p>
  <b>Gross:</b>
  <%= @salary.gross %>
</p>

<p>
  <b>Professional tax:</b>
  <%= @salary.professional_tax %>
</p>

<p>
  <b>Pf:</b>
  <%= @salary.pf %>
</p>

<p>
  <b>Esi:</b>
  <%= @salary.esi %>
</p>

<p>
  <b>Total deductions:</b>
  <%= @salary.total_deductions %>
</p>

<p>
  <b>Net salary:</b>
  <%= @salary.net_salary %>
</p>

<% if @salary.active == true %>
  <%= link_to 'Edit', url_for([:edit, @employe, @salary]) %> |
<% end %>
<%= link_to 'Back', @employe %>
